body {
    margin: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.active:hover {
    background-color: #8bee8f;
}

.logo {
    margin: 0;
    font-size: 16.5px
}

#BGM {
    display: none;
}

.up {
    margin: 0 150px;
}

h1 {
    text-align: center;
    margin: 0;
}

.up p {
    font-size: 13px;
    text-align: center;
    color: rgb(109, 106, 106);
}

a {
    text-decoration: dashed;
    color: rgb(109, 106, 106);
    ;
}

.text {
    margin: 0 150px;
}

.text p {
    text-indent: 2em;
}

.mulu{
    margin: 0 150px;
}